/*ШРИФТЫ*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.main-page {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  border: 3px solid #e5e5e5;
  text-decoration: none;
  cursor: pointer;
}

.button-dark {
  border-color: 3px solid #000000;
}

.button-light {
  z-index: 1;
  border-color: transparent;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  padding-top: 20px;
}

.header-container {
  padding: 0 60px;
  background-image: linear-gradient(#ffffff 20px, #ffe17f 20px, #ffe17f 80px);
}

.header-container-catalog {
  padding-bottom: 34px;
}

/*НАВИГАЦИЯ*/

.navigation-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
  cursor: pointer;
}

.navigation-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-form {
  display: flex;
}

.navigation-form-label {
  width: 359px;
  position: relative;
}

.navigation-form-input {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-radius: 50px 0px 0px 50px;
  border-right: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding: 8px 15px 9px 46px;
}

.navigation-form-input::placeholder {
  opacity: 0.3;
}

.button-navigation-form {
  width: 160px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  padding: 8px 15px;
  cursor: pointer;
}

.navigation-user {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.navigation-user-cart {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
}

.navigation-list {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-catalog {
  display: none;
  gap: 30px;
  padding: 5px 60px 45px;
  background-color: #ffe17f;
}

.navigation-item-catalog {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.navigation-item-catalog:not(:last-child) {
  margin-bottom: 16px;
}

/*СЛАЙДЕР*/

.slider-container {
  position: relative;
  background-image: linear-gradient(#ffe17f 150px, #ffffff 100px);
}

.slider-number {
  position: relative;
  top: 29px;
  margin: 0;
  color: #ffffff;
  text-align: right;
  font-family: inherit;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  width: 511px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  z-index: 0;
}

.slider-item {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.slider-item-active {
  display: grid;
}

.slider-img {
  height: 525px;
}

.slider-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-title {
  bottom: 13px;
  position: relative;
  margin-bottom: 30px;
}

.slider-description {
  margin: 0 0 50px;
}

.slider-button {
  margin-bottom: 50px;
}

.slider-specifications-list-term {
  font-family: inherit;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.slider-specifications-list {
  display: none;
  gap: 12px 20px;
}

.slider-specifications-list-active {
  display: grid;
  grid-template-columns: 141px 1fr;
}

.slider-specifications-list-selfi {
  grid-template-columns: 99px 79px 128px;
  gap: 12px 40px;
}

.slider-specifications-list-definition {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  order: 1;
}

.slider-arrow {
  width: 20px;
  height: 60px;
  background-image: url("../images/slider/arrow.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.slider-button-next {
  position: relative;
  transform: rotate(180deg);
  left: 484px;
}

.slider-arrow-controls {
  position: absolute;
  left: 30px;
  top: 211px;
}

.bullets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.bullets-item {
  margin: 0 10px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.bullets-link-active {
  background-color: #000000;
  pointer-events: none;
}

/*ПОПУЛЯРНЫЕ КАТЕГОРИИ ТОВАРОВ*/

.categories {
  padding: 70px 0 82px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categories-link {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
  padding-top: 190px;
}

.categories-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.categories-link-virtual-reality::before {
  background-image: url("../images/categories/virtual-reality.svg");
}

.categories-link-monopod::before {
  background-image: url("../images/categories/monopod.svg");
}

.categories-link-action-cameras::before {
  background-image: url("../images/categories/action-cameras.svg");
}

.categories-link-fitness-bracelets::before {
  background-image: url("../images/categories/fitness-bracelets.svg");
}

.categories-link-smart-watches::before {
  background-image: url("../images/categories/smart-watches.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/categories/quadrocopters.svg");
}

/*СЕРВИС*/

.services-wrapper {
  padding: 64px 0 70px;
  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 73.5%, #ffffff 73.5%);
}

.services-container {
  display: flex;
}

.button-current:before {
  content: "";
  position: absolute;
  left: 118px;
  top: 92px;
  display: block;
  width: 319px;
  height: 7px;
  background-color: #000000;
  transform: rotate(90deg);
  background-repeat: no-repeat;
  background-size: contain;
}

.services-item {
  display: none;
  padding: 8.5px 260px 74px 116px;
}

.services-item-active {
  display: block;
  background-image: url("../images/delivery.svg");
  background-repeat: no-repeat;
  background-position: right top 16px;
  background-size: 136px 164px;
}

.services-item-guarantee {
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  background-position: right top 16px;
  background-size: 171px 195px;
}

.services-item-credit {
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: right top 16px;
  background-size: 156px 188px;
}

.services-menu-button {
  width: 275px;
  min-height: 40px;
  padding: 10px;
  text-align: start;
  margin-bottom: 35px;
  background-color: transparent;
  border: none;
}

.button-current {
  background-color: #000000;
  color: #ffe17f;
  pointer-events: none;
}

.delivery-container {
  padding: 70px 0;
}

.services-button {
  display: block;
  min-width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
  border: none;
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 40px 0;
  background-image: url("../images/tooltip-grey.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: content;
}

.services-button::after {
  content: "";
  position: relative;
  bottom: 64px;
  display: block;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("../images/truck.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*КОНТАКТЫ*/

.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 96px;
  padding-bottom: 70px;
}

.contacts-wrapper {
  display: grid;
  gap: 30px;
}

.contacts-title {
  margin: 47px 0 48px;
}

.contacts-title::before {
  content: "";
  position: relative;
  display: block;
  bottom: 47px;
  width: 84px;
  height: 7px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-item {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: left center;
  padding-left: 26px;
}

.about-item:nth-last-child(n+2) {
  margin-bottom: 19px;
}

.contacts-description,
.about-description {
  margin: 0;
}

.contacts-subtitle {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 15px;
}

.contacts-address {
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-button {
  text-align: start;
}

/*ПОДПИШИТЕСЬ НА РАССЫЛКУ*/

.mailing {
  padding: 64px 0 56px;
  background-color: #F0F0F0;
}

.mailing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 144px 50px;
  align-items: center;
}

.mailing-title {
  grid-column: 1 / span 2;
}

.mailing-description {
  margin: 10px 0;
  grid-column: 3 / span 2;
}

.mailing-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: 1 / span 3;
  max-width: 810px;
}

.mailing-form-input {
  display: block;
  width: 100%;
  padding: 10px 17px;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
}

.mailing-form-input::placeholder {
  opacity: 0.5;
}

.button-mailing-form {
  min-width: 252px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding: 15px;
}

.mailing-info {
  text-align: end;
}

.mailing-info::before {
  content: "";
  position: relative;
  left: 94px;
  top: 22px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*ПОДВАЛ*/

.footer-page {
  background-color: #444444;
  padding: 62px 140px 77px 140px;
}

.footer-address-text {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-menu-link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.phone-link {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-decoration: none;
}

/*СТРАНИЦА КАТАЛОГА*/

.inner-header {
  padding: 30px 0;
}

.inner-container {
  padding: 0 60px;
}

.inner-header-title {
  margin-bottom: 16px;
}

/*ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-link {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 17px;
}

.breadcrumbs-list li:not(:first-child) {
  margin-left: 17px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: relative;
  right: 17px;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*ФИЛЬТР ТОВАРОВ*/

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-container {
  display: flex;
  padding-bottom: 78px;
}

.catalog-products-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 5.5px 0 10.5px;
}

.filter-container {
  padding: 25px 60px 0 0;
}

.catalog-filter-group {
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #000000;
}

.catalog-filter-title {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 12px 0 20px;
}

.price-input,
.filter-price {
  color: rgb(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.control {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.catalog-filter-item {
  margin-bottom: 17px;
}

/*КАТАЛОГ ТОВАРОВ*/

.sorting-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px 20px 40px;
}

.select-control {
  min-width: 141px;
  min-height: 30px;
  border: none;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background-color: transparent;
}

.product-group {
  background-color: #ffffff;
  padding: 70px 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 44px;
}

.product-card-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 32px;
  color: #000000;
  text-decoration: none;
}

.product-card-image {
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
}

.product-card-new::before {
  content: "";
  position: absolute;
  top: 540px;
  right: 760px;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../images/catalog/new.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-top: 32px;
}

.price {
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: end;
  margin-top: 32px;
}

.button-product-list {
  min-width: 100%;
  min-height: 55px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background-color: #ffffff;
  margin: 44px 0;
}

.pagination {
  background-color: #F0F0F0;
  width: 100%;
  min-height: 71px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-link-text {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-text-active {
  opacity: 0.3;
}

.pagination-link {
  color: rgb(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.pagination-link-active {
  opacity: 0.3;
}
