/*ШРИФТЫ*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  border: 3px solid #e5e5e5;
  text-decoration: none;
  cursor: pointer;
}

.button-dark {
  border-color: 3px solid #000000;
}

.button-light {
  z-index: 1;
  border-color: transparent;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  padding-top: 20px;
}

.header-container {
  padding: 0 60px;
  background-image: linear-gradient(#ffffff 20px, #ffe17f 20px, #ffe17f 80px);
}

/*НАВИГАЦИЯ*/

.navigation-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
  cursor: pointer;
}

.navigation-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-form {
  display: flex;
}

.navigation-form-label {
  width: 359px;
  position: relative;
}

.navigation-form-input {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-radius: 50px 0px 0px 50px;
  border-right: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding: 8px 15px 9px 46px;
}

.navigation-form-input::placeholder {
  opacity: 0.3;
}

.button-navigation-form {
  width: 160px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  padding: 8px 15px;
  cursor: pointer;
}

.navigation-user {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.navigation-user-cart {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
}

.navigation-list {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-catalog {
  display: none;
  gap: 30px;
  padding: 5px 60px 45px;
  background-color: #ffe17f;
}

.navigation-item-catalog {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.navigation-item-catalog:not(:last-child) {
  margin-bottom: 16px;
}

/*СЛАЙДЕР*/

.slider-container {
  position: relative;
  background-image: linear-gradient(#ffe17f 50px, #ffffff 50px);
}

.slider-number {
  margin: 0;
  color: #ffffff;
  text-align: end;
  font-family: inherit;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.slider-item {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.slider-item-active {
  display: grid;
}

.slider-img {
  height: 525px;
}

.slider-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-title {
  margin-bottom: 30px;
}

.slider-description {
  margin: 0 0 50px;
}

.slider-button {
  margin-bottom: 50px;
}

.slider-specifications-list-term {
  font-family: inherit;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.slider-specifications-list {
  display: flex;
  flex-direction: column;
}

.slider-arrow {
  width: 20px;
  height: 60px;
  background-image: url("../images/slider/arrow.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.slider-button-next {
  transform: rotate(180deg);
}

.slider-arrow-controls {
  position: absolute;
  top: 50%;
  width: 100%;
}

.bullets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.bullets-item {
  margin: 0 10px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.bullets-link-active {
  background-color: #000000;
}

/*ПОПУЛЯРНЫЕ КАТЕГОРИИ ТОВАРОВ*/

.categories {
  padding: 70px 0px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categories-link {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
  padding-top: 190px;
}

.categories-link::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.categories-link-virtual-reality::before {
  background-image: url("../images/categories/virtual-reality.svg");
}

.categories-link-monopod::before {
  background-image: url("../images/categories/monopod.svg");
}

.categories-link-action-cameras::before {
  background-image: url("../images/categories/action-cameras.svg");
}

.categories-link-fitness-bracelets::before {
  background-image: url("../images/categories/fitness-bracelets.svg");
}

.categories-link-smart-watches::before {
  background-image: url("../images/categories/smart-watches.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/categories/quadrocopters.svg");
}

/*СЕРВИС*/

.services {
  padding: 15px 0 70px;
  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 71%, #ffffff 71%);
}

.services-container {
  display: grid;
  grid-template-columns: 280px, 1fr;
  align-self: start;
}

.services-menu-button {
  background-color: #ffffff;
  border: none;
}

.services-item {
  background-color: #F0F0F0;
  display: none;
  padding: 74px 260px 74px 116px;
}

.services-item-active {
  display: block;
}

.services-button {
  min-width: 1160px;
  min-height: 100px;
  background-color: #F0F0F0;
  border: none;
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

/*КОНТАКТЫ*/

.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 96px;
}

.about-item {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.contacts-subtitle {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.contacts-address {
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.contacts-phone {
  text-decoration: none;
  font-style: normal;
  color: #444444;
}

/*ПОДПИШИТЕСЬ НА РАССЫЛКУ*/

.mailing {
  background-color: #F0F0F0;
}

.mailing-form-input {
  min-width: 557px;
  height: 55px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 11px 16px 14px 16px;
}

.mailing-form-input::placeholder {
  color: rgb(68, 68, 68, 0.5);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.button-mailing-form {
  min-width: 253px;
  min-height: 57px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding: 18px;
  cursor: pointer;
}

/*ПОДВАЛ*/

.footer-page {
  background-color: #444444;
  padding: 62px 140px 77px 140px;
}

.footer-address-text {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-menu-link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.phone-link {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-decoration: none;
}

/*СТРАНИЦА КАТАЛОГА*/

/*ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs-link {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

/*ФИЛЬТР ТОВАРОВ*/

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter-title {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.price-input,
.filter-price {
  color: rgb(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.control {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/*КАТАЛОГ ТОВАРОВ*/

.select-control {
  min-width: 141px;
  min-height: 30px;
  border: none;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background-color: #F0F0F0;
}

.product-group {
  background-color: #ffffff;
}

.product-card-link {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
}

.price {
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-product-list {
  min-width: 760px;
  min-height: 55px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background-color: #ffffff;
}

.pagination {
  background-color: #F0F0F0;
}

.pagination-link-text {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-text-active {
  opacity: 0.3;
}

.pagination-link {
  color: rgb(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.pagination-link-active {
  opacity: 0.3;
}
