/*ШРИФТЫ*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-page {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  border: 3px solid #e5e5e5;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 35px;
}

.button-gray:hover {
  border-color: #000000;
}

.button-gray:active {
  border-color: #000000;
  opacity: 0.3;
}

.button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-light {
  z-index: 1;
  padding: 8px 5px 8px 9px;
  border-color: transparent;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  height: 8px;
  background-color: #FFE17F;
  transform: translateY(-50%);
}

.button-light:hover:before,
.button-light:active:before {
  display: none;
}

.button-light:hover {
  background-color: #FFE17F;
  border-color: transparent;
}

.button-light:active {
  background-color: #FFCC33;
}

.button-light:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-dark {
  border: 3px solid #c4c4c4;
}

.button-dark:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.button-dark:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border-color: #000000;
}

.button-dark:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button:disabled,
.button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  padding-top: 20px;
}

.header-container {
  padding: 0 60px;
  background-color: #ffe17f;
  background-image: linear-gradient(180deg, #ffffff 20px, #ffe17f 20px);
}

/*НАВИГАЦИЯ*/

.navigation-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* .navigation-logo-inactive {
  pointer-events: none;
} */

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  gap: 25px;
  align-items: center;
  margin-bottom: 31px;
}

.navigation-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.navigation-form-label {
  position: relative;
  width: 100%;
  height: 100%;
}

.navigation-form-input {
  display: block;
  padding: 8px 14px;
  padding-left: 46px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  border: 2px solid #000000;
  border-right-width: 1px;
  border-radius: 50px 0 0 50px;
  -webkit-appearance: none;
  appearance: none;
}

.navigation-form-input::placeholder {
  opacity: 0.3;
  color: #000000;
}

.navigation-form-input:hover::placeholder {
  opacity: 0.6;
}

.navigation-form-input:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.button-navigation-form {
  width: 160px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  padding: 8px 15px;
  cursor: pointer;
}

.button-navigation-form:focus-visible {
  position: relative;
  outline: none;
}

.button-navigation-form:focus-visible::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.navigation-user {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-index-item {
  margin-right: auto;
}

.navigation-user-catalog {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  display: block;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-list-login {
  display: block;
  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 12px;
  padding-left: 28px;
}

.user-list-compare {
  display: block;
  background-image: url("../images/compare.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10px 12px;
  padding-left: 20px;
}

.user-list-compare-catalog {
  padding-right: 5px;
}

.user-list-basket {
  display: block;
  background-image: url("../images/basket/basket.svg");
  background-repeat: no-repeat;
  background-position: left top 45%;
  background-size: 16px 14px;
  padding-left: 28px;
  position: relative;
}

.user-list-logout {
  display: block;
  opacity: 0.3;
}

.user-list-logout:hover:not(:disabled) {
  opacity: 0.6;
}

.user-list-logout:active:not(:disabled) {
  opacity: 1;
}

.user-list-logout:focus-visible {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-list-logout:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.navigation-user-basket {
  position: absolute;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10.5px;
  top: 4px;
  right: 95px;
  padding: 3px 6px 2px 6px;
}

.navigation-user-item-basket {
  display: block;
  position: relative;
}

/*КОРЗИНА*/

.basket-container {
  position: absolute;
  z-index: 20;
  top: 33px;
  left: 21px;
  display: none;
  width: 320px;
  margin-top: 5px;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #000000;
  transform: translateX(-50%);
}

.basket-container-active {
  display: block;
}

.navigation-user-item-basket:hover .basket-container,
.navigation-user-item-basket:focus-within .basket-container {
  display: block;
}

.basket-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 8px solid transparent;
  border-bottom: 8px solid #000000;
  transform: inherit;
}

.basket-list-item {
  display: grid;
  grid-template-columns: auto 16px;
  gap: 23px;
  padding: 20px;
}

.basket-list-link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 23px;
  color: #ffffff;
  text-decoration: none;
}

.basket-list-link img {
  display: block;
  width: 39px;
  height: 43px;
}

.basket-list-link:hover {
  opacity: 0.6;
}

.basket-list-link:active {
  opacity: 0.3;
}

.basket-list-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.basket-title-link {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.button-basket-delete {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-basket-delete::before,
.button-basket-delete::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 1px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.button-basket-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button-basket-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-basket-delete:hover {
  opacity: 0.6;
}

.button-basket-delete:active {
  opacity: 0.3;
}

.button-basket-delete:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.basket-check {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #1a1a1a;
}

.basket-check p {
  margin: 0;
  color: #ffffff;
}

.basket-open {
  padding: 20px;
}

.basket-button {
  width: 100%;
  padding: 11px;
  letter-spacing: 3.6;
  background-color: #ffffff;
  border-color: transparent;
}

.basket-button:hover {
  background-color: #ffe17f;
}

.basket-button:active {
  background-color: #ffe17f;
  color: rgb(0, 0, 0, 0.3);
}

.basket-button-disabled {
  background-color: #ffffff;
  color: rgb(0, 0, 0, 0.3);
}

.navigation {
  position: relative;
}

.navigation-list {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px 45px;
}

.navigation-item {
  display: block;
  padding: 10px 0;
  min-width: 127px;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:hover .navigation-catalog-container,
.navigation-item:active .navigation-catalog-container,
.navigation-item:focus-within .navigation-catalog-container {
  display: block;
}

.navigation-link {
  display: inline-block;
  margin-right: -3.6px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-link-current {
  text-decoration: 2px;
  outline: none;
  pointer-events: none;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-catalog-item {
  margin-right: auto;
  padding: 0;
}

.navigation-link-catalog {
  position: relative;
  bottom: 2px;
  z-index: 1;
  padding: 16px 67px 13px 0;
}

.navigation-link-catalog span {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-link-catalog:hover span {
  opacity: 1;
}

.navigation-link-catalog span::before,
.navigation-link-catalog span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%);
}

.navigation-link-catalog span::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navigation-link-catalog:hover span::before,
.navigation-link-catalog:hover span::after {
  opacity: 1;
}

.navigation-link-catalog:hover span::after,
.navigation-link-catalog:active span::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.navigation-link-catalog:active span,
.navigation-link-catalog:active span::before,
.navigation-link-catalog:active span::after {
  opacity: 1;
}

.navigation-catalog-item:hover span::after {
  display: none;
}

.navigation-catalog-container {
  position: absolute;
  top: 100%;
  z-index: 10;
  display: none;
  grid-template-columns: 222px repeat(auto-fill, minmax(135px, auto));
  gap: 30px;
  padding: 8px 60px 52px;
}

.navigation-catalog {
  display: grid;
  position: absolute;
  z-index: -1;
  left: -60px;
  column-gap: 59px;
  row-gap: 17px;
  grid-template-columns: repeat(3, minmax(152px, 193px));
  padding: 9px 60px 56px;
  width: 1160px;
  background-color: #ffe17f;
}

.navigation-item-catalog {
  line-height: 18px;
}

.navigation-item-catalog:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.navigation-item-catalog:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.navigation-item-catalog:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.navigation-item-catalog:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.navigation-item-catalog:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.navigation-item-catalog:nth-of-type(6) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.navigation-catalog-item:hover .navigation-catalog-container,
.navigation-catalog-item:focus .navigation-catalog-container {
  display: grid;
}

.navigation-catalog-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation-catalog-link:hover {
  opacity: 0.6;
}

.navigation-catalog-link:active {
  opacity: 0.3;
}

.navigation-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link-current {
  text-decoration: 2px;
  outline: none;
  pointer-events: none;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 6px;
}

/*СЛАЙДЕР*/

.slider {
  padding-bottom: 32px;
}

.slider-container {
  position: relative;
  background-image: linear-gradient(#ffe17f 134px, #ffffff 100px);
  bottom: 1px
}

.slider-item {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.slider-item::after {
  content: "01";
  position: absolute;
  top: 61px;
  right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-item-active {
  position: relative;
  bottom: -5px;
  display: grid;
}

.slider-img {
  height: 525px;
}

.slider-img img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.slider-content {
  padding: 101px 0 16px 0;
  z-index: 1;
}

.slider-title {
  margin-bottom: 28px;
}

.slider-description {
  margin: 0;
  margin-bottom: 49px;
}

.slider-button {
  min-width: 220px;
  min-height: 40px;
  margin-bottom: 47px;
}

.slider-specifications-list-term {
  font-family: inherit;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.slider-specifications-list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin: 0;
}

.slider-stats-item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.slider-specifications-list-definition {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  order: 1;
}

.slider-arrow-controls {
  position: absolute;
  top: 41%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-arrow {
  padding: 0;
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../images/slider/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.slider-button-next {
  transform: rotate(180deg);
}

.slider-arrow:hover:not(:disabled) {
  opacity: 0.6;
}

.slider-arrow:active:not(:disabled) {
  opacity: 0.3;
}

.slider-arrow:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-arrow:disabled {
  opacity: 0.1;
}

.bullets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.bullets-link-active {
  background-color: #000000;
  pointer-events: none;
}

.bullets-link:hover:not(:disabled) {
  opacity: 0.6;
}

.bullets-link:active:not(:disabled) {
  opacity: 0.3;
}

.bullets-link:focus {
  position: relative;
  opacity: 1;
  outline: none;
}

.bullets-link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
  opacity: 1;
}

.bullets-link:disabled {
  opacity: 0.1;
}

/*ПОПУЛЯРНЫЕ КАТЕГОРИИ ТОВАРОВ*/

.categories {
  padding: 35px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categories-link {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
  padding-top: 192px;
}

.categories-link:active {
  opacity: 0.3;
}

.categories-link:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.categories-link:hover::before {
  background-color: #ffc700;
}

.categories-link:active::before {
  background-color: #ffe17f;
}

.categories-link::before {
  content: "";
  position: absolute;
  margin-bottom: 33px;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.categories-link-virtual-reality::before {
  background-image: url("../images/categories/virtual-reality.svg");
}

.categories-link-monopod::before {
  background-image: url("../images/categories/monopod.svg");
}

.categories-link-action-cameras::before {
  background-image: url("../images/categories/action-cameras.svg");
}

.categories-link-fitness-bracelets::before {
  background-image: url("../images/categories/fitness-bracelets.svg");
}

.categories-link-smart-watches::before {
  background-image: url("../images/categories/smart-watches.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/categories/quadrocopters.svg");
}

/*СЕРВИС*/

.services-wrapper {
  padding: 45px 0 72px;
  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 66%, #ffffff 66%);
}

.services-container {
  display: flex;
}

.services-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 38px;
  border-right: 7px solid #000000;
}

.services-menu-list {
  width: 287px;
}

.services-menu-button {
  min-width: 160px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.services-item {
  display: none;
  padding: 75px 260px 73px 116px;
}

.services-item-active {
  display: block;
}

.services-title {
  margin-bottom: 35px;
}

.services-description {
  margin: 0;
}

.services-item-delivery {
  background-image: url("../images/delivery.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 50%;
  background-size: 136px 164px;
}

.services-item-guarantee {
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 16px;
  background-size: 171px 195px;
}

.services-item-credit {
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 16px;
  background-size: 156px 188px;
}

.button-current {
  background-color: #000000;
  color: #ffe17f;
  padding: 8px 5px 8px 17px;
  text-align: start;
  border-color: transparent;
  min-width: 280px;
  min-height: 39px;
}

.button-current:hover,
.button-current:active,
.button-current:focus-visible {
  padding-left: 35px;
}

.button-current:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-container {
  padding: 68px 0 70px;
}

.services-button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 41px 130px 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.services-button:active {
  opacity: 0.3;
}

.services-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/truck.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-button:hover::before {
  background-color: #FFC700;
}

.services-button-info {
  content: "";
  position: absolute;
  top: 50%;
  right: 42px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.services-button-info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 12px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.services-button:hover .services-button-info::before,
.services-button:active .services-button-info::before {
  opacity: 1;
}

.services-button:focus-visible .services-button-info::before {
  opacity: 0.3;
}

/*КОНТАКТЫ*/

.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 96px;
  padding-bottom: 70px;
}

.contacts-wrapper {
  display: grid;
  gap: 30px;
}

.contacts-title {
  margin: 42px 0 47px;
}

.contacts-title::before {
  content: "";
  position: relative;
  display: block;
  bottom: 42px;
  width: 84px;
  height: 7px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-list {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.about-item {
  position: relative;
  padding-left: 37px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.about-item:nth-last-child(n+2) {
  margin-bottom: 19px;
}

.contacts-description,
.about-description {
  margin: 0;
}

.contacts-subtitle {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 15px;
}

.contacts-address {
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-phone:hover {
  color: #FFC700;

}

.contacts-phone:active {
  color: rgb(0, 0, 0, 0.3);
}

.contacts-phone:focus-visible {
  color: #000000;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-button {
  padding-top: 6px;
  text-align: center;
  width: 270px;
}

.button-write {
  padding-left: 1px;
}

/*ПОДПИШИТЕСЬ НА РАССЫЛКУ*/

.mailing {
  padding: 63px 0 56px;
  background-color: #F0F0F0;
}

.mailing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 144px 50px;
  align-items: center;
}

.mailing-title {
  margin: 0;
  margin-left: 7px;
  max-width: 415px;
  grid-column: 1 / span 2;
}

.mailing-description {
  margin: 0;
  margin-left: 2px;
  margin-top: 9px;
  max-width: 553px;
  grid-column: 3 / span 2;
}

.mailing-form {
  display: grid;
  margin-left: 2px;
  grid-template-columns: 1fr auto;
  grid-column: 1 / span 3;
  align-items: start;
  width: 810px;
}

.mailing-form-label {
  position: relative;
  width: 100%;
  height: 100%;
}

.mailing-form-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 17px;
  color: #444444;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
}

.mailing-form-input::placeholder {
  opacity: 0.5;
}

.mailing-form-input:hover:not(:disabled) {
  background-color: #ececec;
}

.mailing-form-input:focus-visible {
  outline: none;
  background-color: #dcdcdc;
}

.mailing-form-input-invalid {
  border-bottom: 3px solid #ff3d3d;
}

.mailing-form-input:disabled {
  opacity: 0.3;
}

.button-mailing-form {
  min-width: 252px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding: 15px;
}

.mailing-info {
  margin: 0 0 0 auto;
  padding-left: 32px;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.button-mailing-form {
  width: 253px;
}

/*ПОДВАЛ*/

.footer-page {
  background-color: #444444;
  padding: 63px 0 77px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  gap: 30px 20px;
  align-items: center;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-address-text {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 26px;
}

.footer-menu-list {
  display: flex;
  gap: 35px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-menu-link {
  position: relative;
  color: #ffffff;
  margin-right: -3.6px;
}

.footer-contacts {
  text-align: end;
}

.phone-link {
  display: block;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  letter-spacing: 0.1px;
  padding-top: 3px;
}

.footer-menu-link:hover,
.phone-link:hover {
  opacity: 1;
  color: #ffc700;
}

.footer-menu-link:active,
.phone-link:active {
  opacity: 0.3;
}

.footer-menu-link::after {
  display: block;
  position: relative;
  top: 2px;
  width: auto;
  height: 2px;
  background-color: #444444;
  content: "";
}

.footer-menu-link:hover::after {
  background-color: #ffc700;
}

.footer-menu-link:focus-visible,
.phone-link:focus-visible {
  color: #ffffff;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.social-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social {
  grid-column: 2 / 3;
}

.social-item {
  position: relative;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.social-ico:hover {
  background-color: #ffc700;
  border-radius: 50%;
  fill-opacity: 1;
}

.social-ico:active {
  background-color: #ffc700;
  border-radius: 50%;
  fill-opacity: 0.3;
}

.social-link:focus-visible {
  position: relative;
  outline: none;
}

.social-link:focus-visible:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social::after {
  content: "";
  position: relative;
  bottom: 22px;
  right: 280px;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-htmlacademy {
  margin-bottom: 6px;
  margin-left: auto
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
}

.htmlacademy-ico {
  color: #ffc700;
}

.htmlacademy-ico:hover {
  color: #ffffff;
}

.htmlacademy-ico:active {
  color: rgb(255, 255, 255, 0.3);
  outline: 1px solid #af4fff;
  outline-offset: 1px;
}

.htmlacademy-link:focus-visible {
  outline: 1px solid #af4fff;
  outline-offset: 1px;
}

/*СТРАНИЦА КАТАЛОГА*/

.header-container-catalog {
  padding-bottom: 19px;
}

.inner-header {
  padding: 35px 0 34px 0;
}

.inner-container {
  padding: 0 60px;
}

.inner-header-title {
  margin-bottom: 16px;
}

/*ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 17px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*ФИЛЬТР ТОВАРОВ*/

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-container {
  display: flex;
}

.catalog-products-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 5.5px 0 10.5px;
}

.filter-container {
  padding: 18px 40px 60px 60px;
}

.catalog-filter {
  display: grid;
  gap: 33px;
}

.filter-title {
  margin-bottom: 58px;
}

.catalog-filter-group {
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #000000;
}

.catalog-filter-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 13px 0 16px 0;
}

.catalog-range-title {
  margin-bottom: 28px;
}

.catalog-filter-title-bluetooth {
  margin-top: 11px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 12px;
}

.catalog-filter-item-bluetooth:not(:last-child) {
  margin-bottom: 15px;
}

.range {
  position: relative;
}

.filter-range {
  padding-bottom: 34px;
}

.range-base {
  position: relative;
}

.range-base::before,
.range-base::after {
  content: "";
  position: absolute;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #dcdcdc;
}

.range-base::before {
  right: 0;
  left: 0;
}

.range-base::after {
  width: 119px;
  background-color: #000000;
}

.range-content {
  z-index: 1;
  position: absolute;
  top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-button:active {
  background-color: #000000;
}

.range-button:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid #af4fff;
}

.range-content-min {
  left: -14px;
}

.range-content-max {
  right: 54px;
}

.range-value {
  padding-top: 2px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-value:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.control {
  display: block;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}

.control-label {
  padding-left: 13px;
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

.control-label:disabled {
  opacity: 0.1;
}

.control-input {
  flex-shrink: 0;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  appearance: none;
  background-color: transparent;
  background-size: 0;
  border: 2px solid #cccccc;
}

.control-input:focus-visible {
  outline: none;
  position: relative;
}

.control-input:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.control-input:disabled {
  opacity: 0.1;
}

.control-input[type="checkbox"] {
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border: 2px solid #000000;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked {
  background-image: radial-gradient(circle, black, black 68%, transparent 68%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 8px;
  border: 2px solid #000000;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.catalog-filter-button {
  min-width: 220px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px 16px 40px;
}

.select-control {
  width: 155px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  background-image: url("../images/catalog/sorting.svg");
  background-repeat: no-repeat;
  background-position: right 9px top;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover:not(:disabled) {
  opacity: 0.6;
}

.select-control:active:not(:disabled) {
  opacity: 0.3;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control:disabled {
  opacity: 0.1;
}

.button-sort-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.button-sort-products-link {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}

.button-sort-products-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-sort-products-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/catalog/sorting-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.button-sort-products-link:hover:before {
  opacity: 0.5;
}

.button-sort-products-link:active::before {
  opacity: 1;
}

.button-sort-products-less {
  transform: rotate(180deg);
}

/*КАТАЛОГ ТОВАРОВ*/

.product-group {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 43px 40px;
}

.product-card-item {
  display: block;
  position: relative;
}

.product-card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  color: #000000;
  text-decoration: none;
}

.product-card-link:hover .product-card-description {
  color: rgb(0, 0, 0, 0.6);
}

.product-card-link:active .product-card-description {
  color: rgb(0, 0, 0, 0.3);
}

.product-card-item:hover .product-card-title .price {
  color: rgb(0, 0, 0, 0.6);
}

.product-card-link:active .product-card-title .price {
  color: rgb(0, 0, 0, 0.3);
}

.product-card-link:active .product-card-button {
  background-image: linear-gradient(#ffc700, #ffc700);
  background-size: 100% 8px;
}

.product-card-link:hover .product-card-button,
.product-card-link:active .product-card-button {
  display: block;
  background-size: 100% 8px;
}

.product-card-link:hover .product-card-image::after,
.product-card-image:hover .product-card-image:active .product-card-button,
.product-card-button {
  display: block;
}

.product-card-image {
  width: 100%;
  height: 380px;
  grid-column: 1 / -1;
  position: relative;
}

.product-card-new::before {
  content: "new";
  position: absolute;
  top: 26px;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  min-width: 60px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 30px;
  opacity: 0.6;
}

.product-card-image:hover::after,
.product-card-image:active::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
}

.product-card-button {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.button-stroke {
  line-height: 20px;
  background-image: linear-gradient(#ffe17f, #ffe17f);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}

.product-card-description {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  gap: 32px;
  color: #000000;
  text-decoration: none;
}

.product-card-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.price {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: end;
}

.button-product-list {
  min-width: 100%;
  min-height: 55px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background-color: #ffffff;
  margin: 44px 0;
  padding: 15px 5px 15px 8px;
}

.pagination {
  display: grid;
  grid-template-columns: minmax(auto, 150px) 1fr minmax(auto, 160px);
  gap: 25px;
  align-items: center;
  background-color: #ebebeb;
  position: relative;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  display: inline-block;
  padding: 25px;
  max-width: 150px;
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button-next {
  color: #000000;
  padding: 25px 25px 25px 35px;
  left: 10px;
  position: relative;
}

.pagination-button:not(.pagination-button-current):hover {
  background-color: #dcdcdc;
}

.pagination-button:not(.pagination-button-current):active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #dcdcdc;
}

.pagination-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-button-current {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}

.pagination-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link:not(.pagination-link-current):hover {
  color: #444444;
}

.pagination-link:not(.pagination-link-current):active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-link-current {
  color: rgba(68, 68, 68, 0.6);
}

/*МОДАЛЬНОЕ ОКНО*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 60px;
  width: 920px;
  min-height: 568px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

/* Скрыть Модальное окно

.modal-container-close {
  display: none;
} */

.modal-title {
  margin: 0 0 40px;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 9px;
  justify-content: start;
  align-items: baseline;
}

.modal-fieldset-group {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  max-width: 360px;
  margin: 0;
  padding: 0;
  border: none;
}

.modal-fieldset-products {
  grid-column: span 3;
  max-width: 540px;
}

.modal-fieldset-quantity {
  grid-column: span 1;
  max-width: 180px;
}

.modal-form-label {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.modal-form-input {
  width: 100%;
  height: 60px;
  padding: 10px 50px 10px 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid transparent;
}

.modal-form-input::placeholder {
  opacity: 0.3;
}

.modal-form-input:hover {
  background-color: #dcdcdc;
}

.modal-form-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-form-input:disabled {
  opacity: 0.3;
}

.modal-form-input-name {
  background-image: url("../images/user-gray.svg");
}

.modal-form-input-email {
  background-image: url("../images/letter.svg");
}

.modal-text-products {
  padding-top: 17px;
  resize: none;
}

.modal-fieldset-group-error .modal-form-input {
  border-color: #ff3d3d;
}

.modal-form-notice {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.modal-fieldset-group-error .modal-form-notice {
  display: inline-block;
  color: #ff3d3d;
}

.modal-button-quantity {
  position: relative;
}

.modal-form-input-number::-webkit-outer-spin-button,
.modal-form-input-number::-webkit-inner-spin-button {
  margin: 0;
}

.modal-form-input-number {
  padding: 5px 65px;
  text-align: center;
}

.modal-change-button {
  position: absolute;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
  appearance: none;
}

.modal-change-minus {
  left: 0;
}

.modal-change-plus {
  right: 0;
}

.modal-change-button::before,
.modal-change-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%);
}

.modal-change-button::after {
  transform: translate(-50%, -50%);
}

.modal-change-minus::after {
  display: none;
}

.modal-change-plus::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.modal-change-button:hover {
  background-color: #ebebeb;
}

.modal-change-button:hover::before,
.modal-change-button:hover::after {
  opacity: 0.6;
}

.modal-change-button:active {
  background-color: #f0f0f0;
}

.modal-change-button:active::before,
.modal-change-button:active::after {
  opacity: 0.3;
}

.modal-change-button:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
}

.modal-change-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.modal-change-button:disabled::before,
.modal-change-button:disabled::after {
  background: rgba(0, 0, 0, 0.3);
}

.modal-form-label-with-tooltip {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.modal-quantity {
  display: flex;
  gap: 8px;
  padding-bottom: 11px;
}

.modal-tooltip {
  position: relative;
}

.modal-form-label-with-tooltip {
  margin: 0;
}

.modal-tooltip-toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: #ffe17f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.modal-tooltip-toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  width: 4px;
  height: 12px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
}

.modal-tooltip:hover .modal-tooltip-text,
.modal-tooltip:focus-within .modal-tooltip-text {
  display: block;
}

.modal-tooltip-text {
  position: absolute;
  top: 68%;
  right: -35px;
  z-index: 1;
  display: none;
  width: 200px;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-tooltip-text::after {
  content: "";
  position: absolute;
  right: 40px;
  bottom: 100%;
  border: 8px solid transparent;
  border-bottom: 8px solid #000000;
}

.modal-button {
  padding: 8px 28px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  border: none;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
